RewriteEngine On

RewriteRule ^home index.php
RewriteRule ^about index.php?action=about
RewriteRule ^blog index.php?action=blog

Options -Indexes

<Files ".*">
    Deny from all
</Files>

<Files "README.*">
    Deny from all
</Files>
