RewriteEngine On

RewriteRule ^home index.php
RewriteRule ^submit$ index.php?action=submitted
RewriteRule ^posts/([a-zA-Z0-9\-]*)$ index.php?action=seeBlogPost&seoName=$1

php_value upload_max_filesize 20M
php_value post_max_size 20M

Options -Indexes

<Files ".*">
    Deny from all
</Files>

<Files "README.*">
    Deny from all
</Files>



